.outer-div {
    height: 74px;
    width: 80%;
    position: relative;
    margin: 20px;
    /* display: flex; */
    /* justify-content: center; */
}
.outer-legend-div {
    height: 100px;
    width: 80%;
    position: relative;
    margin: 20px;
    /* display: flex; */
    /* justify-content: center; */
}
.p {
   /* display: inline-block; */
   margin-left: 10px;
   max-height:25px;
   float: left;
}

/* .bubble::after {
    content:'';
    display: block;
    position: absolute;

    width:0;
    height:0;
    border-right:15px solid transparent;
    border-left: 0.5px solid blue;
    border-top: 15px solid blue;
    bottom:-15px;
} */